.editor-modal
  position: absolute
  bottom: 0
  right: 0
  left: 0
  top: 0

  &-overlay
    background-color: transparentize(#000, 0.8)
    height: 100%
    width: 100%

  .editor
    position: absolute
    bottom: 0
    right: 0
    left: 0

.editor
  height: 360px

  flex-direction: column
  display: flex

  .header
    background: #FFF
    padding: 0 16px
    height: 50px

    justify-content: flex-start
    align-items: center
    display: flex

    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
    border-top: 1px solid rgba(0, 0, 0, 0.1)

    .names
      margin-left: 10px

      align-items: center
      display: flex

      .divider
        user-select: none
        margin: 0 3px

  .content
    background-color: #FFF
    flex-direction: column
    display: flex
    flex: 1

.editor .paint-editor
  flex-direction: column
  display: flex
  flex: 1

  max-height: 310px

  .items
    flex-direction: column
    overflow-y: scroll
    display: flex
    
    min-height: 270px
    flex: 0 1 auto

    &::-webkit-scrollbar
      width: 2px

    &::-webkit-scrollbar-track
      background: #FFF

    &::-webkit-scrollbar-thumb
      border-radius: 2px
      background: #E0E0E0

  .button.add
    border-top: 1px solid #03A9F4
    transition: all 0.25s ease
    user-select: none
    cursor: pointer
    color: #03A9F4
    height: 36px
    flex: 0 0 auto

    justify-content: center
    align-items: center
    display: flex

    font-weight: 500
    font-size: 12px

    &:hover
      border-color: darken(#03A9F4, 5%)
      color: darken(#03A9F4, 5%)

  .paint
    border-bottom: 1px solid transparentize(#000, 0.95)
    position: relative

    .remove
      transition: all 0.25s ease
      border-radius: 0 0 0 5px
      position: absolute
      height: 24px
      width: 24px
      right: 0px
      top: 0px

      justify-content: center
      align-items: center
      display: flex

      user-select: none
      cursor: pointer

      &:hover
        background-color: transparentize(#000, 0.85)


    .solid-color
      flex-direction: column
      display: flex

      margin: 25px 16px 20px 16px

      .part
        border: 1px solid transparentize(#000, 0.95)
        border-radius: 5px

        align-items: center
        display: flex

        margin: 0 5px
        height: 34px

        &.error
          border-color: #EF5350

        label
          color: transparentize(#000, 0.4)
          margin: 0 8px 0 10px
          font-weight: 500
          font-size: 14px

        input
          font-size: 14px
          outline: none
          border: none
          height: 32px
          width: 100%

        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0

      .hex
        justify-content: space-between
        display: flex

        .part
          &:last-child
            width: 40%
          &:first-child
            width: 60%

      .rgba
        justify-content: space-between
        display: flex

        margin-top: 14px
